.form-card {
  width: 55rem;
  margin-left: 150px;
  margin-top: 50px;
  background-color: orangered;
  border-radius: 5px;
}
.card-input {
  border: 2px solid orangered;
  border-radius: 5px;
}
.send-btn {
  background-color: rgb(4, 78, 78);
  color: orangered;
  width: 6rem;
  height: 2rem;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}
.cards-connect {
  width: 23rem;
  height: 13rem;
  border-radius: 5px;
  background-color: rgb(4, 98, 119);
  margin-left: 500px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.image-card {
  width: 120px;
  padding: 10px;
}
.image-visa {
  width: 100px;
  padding: 10px;
  float: right;
  border-radius: 1px;
}
.cvc {
  color: rgb(216, 175, 11);
  padding-top: 60px;
  padding-left: 30px;
  font-size: x-large;
}
.cvc-1 {
  color: rgb(216, 175, 11);
  padding-left: 30px;
}
.cvc-2 {
  padding-left: 220px;
  color: rgb(216, 175, 11);
  padding-bottom: 40px;
}
.cvc-2 {
  padding-left: 220px;
  color: rgb(216, 175, 11);
  padding-bottom: 40px;
}
@media (max-width: 1100px) {
  .form-card {
    width: 25rem;
    margin-left: 380px;
  }
  .send-btn {
    margin-left: 150px;
  }
  .cards-connect {
    margin-left: 400px;
  }
}
@media (max-width: 768px) {
  .form-card {
    width: 25rem;
    margin-left: 220px;
  }
  .send-btn {
    margin-left: 150px;
  }
  .cards-connect {
    width: 400px;
    margin-left: 220px;
    margin-bottom: 100px;
  }
}
