.text-deposit {
  width: 70%;
  height: 25rem;
  position: relative;
  background-color: rgb(245, 238, 238);
  border-radius: 10px;
  margin-left: 200px;
  padding-left: 50px;
  padding-top: 30px;
}
.credCalc-1 {
  width: 50%;
  height: 30%;
  border: 2px solid rgb(239, 111, 65);
  border-radius: 6px;
  margin-left: 14rem;
  margin-bottom: 20px;
  padding: 20px;
  color: rgb(240, 121, 9);
  text-align: center;
}

@media (max-width: 1024px) {
  .text-deposit {
    height: 40rem;
    margin-bottom: 100px;
  }
  .credCalc-1 {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .text-deposit {
    width: 53%;
    height: 45rem;
  }
}
