body {
  width: 100%;
  height: 100%;
}
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.container {
  display: flex;
  flex-direction: column;
}

.credits {
  font-size: large;
  text-decoration: none;
}
.cards {
  font-size: large;
  text-decoration: none;
}

.log {
  float: right;
  color: rgb(238, 87, 11);
  font-size: larger;
  font-weight: 500;
}
.log:hover {
  color: yellow;
}
.about {
  text-decoration: none;
  margin-top: 30px;
  font-size: xx-small;
  size: 20px;
  display: flex;
  flex-wrap: wrap;
}
.credit-m {
  background-image: url("../public/mortage.jpg");
  width: 31rem;
  height: 15rem;
  text-decoration: none;
  border-radius: 20px;
  margin: 50px;
  padding-left: 50px;
  color: white;
  text-align: center;
  font-size: xx-large;
  font-weight: 700;
  padding-top: 30px;
  padding-right: 140px;
}
.credit-p {
  width: 31rem;
  height: 15rem;
  background-image: url("../public/potrcred.jpg");
  text-decoration: none;
  border-radius: 20px;
  margin: 50px;
  color: white;
  text-align: center;
  font-size: xx-large;
  font-weight: 700;
  padding-top: 10px;
  padding-left: 50px;
}
.credit-b {
  width: 31rem;
  height: 15rem;
  background-image: url("../public/bussiness.jpg");
  text-decoration: none;
  border-radius: 20px;
  margin: 50px;
  color: white;
  text-align: center;
  font-size: xx-large;
  font-weight: 700;
  padding-top: 30px;
}
.credit-ed {
  width: 31rem;
  height: 15rem;
  background-image: url("../public/education.jpg");
  text-decoration: none;
  border-radius: 20px;
  margin: 50px;
  color: white;
  text-align: center;
  font-size: xx-large;
  font-weight: 700;
  padding-top: 30px;
  padding-right: 140px;
}
.credit-ag {
  width: 31rem;
  height: 15rem;
  background-image: url("../public/agriculture.png");
  text-decoration: none;
  border-radius: 20px;
  margin: 50px;
  color: white;
  text-align: center;
  font-size: xx-large;
  font-weight: 700;
  padding-top: 30px;
}
.credit-f {
  padding-top: 30px;
  width: 31rem;
  height: 15rem;
  background-image: url("../public/farm.jpg");
  text-decoration: none;
  border-radius: 20px;
  margin: 50px;
  color: white;
  text-align: center;
  font-size: xx-large;
  font-weight: 700;
}
.credit-t {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding-left: 20px;
  padding-right: 40px;
}
.credit {
  border-radius: 20px;
  margin: 20px;
}

.slider-img {
  margin-right: 20px;
  width: 100%;
  max-lines: 30px;
}

.course {
  display: flex;
  justify-content: center;
  font-weight: 100;
  color: rgb(4, 53, 85);
}

::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.text {
  color: rgb(247, 237, 237);
  margin-left: 3rem;
  margin-top: 2rem;
}
.social-m {
  width: 40px;
  height: 40px;
}

@media (max-width: 1024px) {
  .outside {
    width: 70rem;
    height: 60rem;
  }
  .credit-m {
    width: 26rem;
    height: 15rem;
    margin-left: 20px;
  }
  .credit-p {
    width: 26rem;
    height: 15rem;
    margin-left: 20px;
  }
  .credit-b {
    width: 26rem;
    height: 15rem;
    margin-left: 20px;
  }
  .credit-ed {
    width: 26rem;
    height: 15rem;
    margin-left: 20px;
  }
  .credit-ag {
    width: 26rem;
    height: 15rem;
    margin-left: 20px;
  }
  .credit-f {
    width: 26rem;
    height: 15rem;
    padding-bottom: 20px;
    margin-left: 20px;
  }
  .credit-t {
    width: 80rem;
    /* height: 100rem; */
    display: flex;
    flex-wrap: wrap;
    padding-right: 20px;
    margin-left: 20px;
  }

  .slider {
    display: none;
  }

  .course {
    display: flex;
    justify-content: center;
    font-weight: 50;
    color: rgb(4, 53, 85);
  }

  ::before,
  ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .text {
    color: rgb(247, 237, 237);
    margin: 0;
    margin: 0%;
    display: n;
  }
  .social-m {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 768px) {
  .credit-t {
    padding: 0;
    width: 700px;
    height: 145rem;
    display: flex;
    flex-direction: column;
  }

  .credit-m {
    width: 32rem;
    height: 16rem;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .credit-p {
    width: 32rem;
    height: 16rem;
    margin-left: 20px;
  }
  .credit-b {
    width: 30rem;
    height: 16rem;
    margin-left: 20px;
  }
  .credit-ed {
    width: 30rem;
    height: 15rem;
    margin-left: 20px;
  }
  .credit-ag {
    width: 30rem;
    height: 15rem;
    margin-left: 20px;
  }
  .credit-f {
    width: 30rem;
    height: 15rem;
    padding-bottom: 20px;
    margin-left: 20px;
  }
}
